<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>openbadge-card</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="favicon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/monokai.css">
	<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="vendor/font-awesome-animation/font-awesome-animation.min.css">
</head>
<body ng-app="openbadgesApp">
	<header>
		<h1><a href="https://github.com/l-lin/openbadge-card">openbadge-card</a></h1>
        <p>
            openbadge-card
        </p>
        <a href="https://github.com/l-lin/openbadge-card">
        	<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>
        <hr />
	</header>
	
	<div class="container" ng-controller="appCtrl">
		<article>
			<h1>Get your <a href="https://backpack.openbadges.org" class="ob-link"><img src="/images/openbadges.png" title="Open Badges" width="300px" /></a> card now!</h1>
			<section>
				<aside>
					<h3>Preview</h3>
					<iframe src="/badge.html#/displayer/68909/group/22392" style="border: 0;height: 140px;width: 240px;overflow: hidden;" frameBorder="0"></iframe>
				</aside>
				<aside class="note">
					<h3>About</h3>
					<p>
						azety
					</p>
				</aside>
			</section>
		</article>
		<article>
			<h1>Build my card now!</h1>
			<section>
				<input type="text" ng-model="email" placeholder="abc@def.com" />
				<button type="submit" ng-click="findMyGroups()">Find my groups</button>
			</section>
			<section>
				My User id is: {{ userId }}
			</section>
		</article>
	</div>

	<footer>
		Designed and built with <i class="fa fa-heart faa-pulse animated"></i> by <a href="https://github.com/l-lin">Louis LIN</a>
	</footer>

	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-resource/angular-resource.min.js"></script>
	<script src="src/openbadges-app.js"></script>
</body>
</html>
